= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "login-form"}) do |f|

	.login-message Sign in to The Mod and Pop Shop

	%label.login-label Email Address:
	%input.email{:name => "user[email]", :placeholder => "Email", :type => "email"}

	%label.login-label Password:
	%input.password{:name => "user[password]", :placeholder => "Password", :type => "password"}

	%button.maps-btn{:type => "submit"} Sign In