.logo-home
.admin-wrap.home 
  .admin-header
    Listings
  .admin-body
    %ul.content-list
      - @listings.each do |listing|
        %li.content-list-item.home{:style => "position: relative"}
          .content-thumbnail{:style => "width: 5rem; height: 100%; position: absolute; left: 1rem; top: 0; background-image: url(#{listing.image});background-size: contain;background-repeat: no-repeat; background-position: center;"}
          %a.content-link{:href => listing_path(listing), :style => 'margin-left: 6rem'}= "#{listing.title} - #{number_to_currency(listing.price)}"